.main{
    background: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

h1{
    font-family: helvetica;
    font-size: 100px;
    font-weight:bold;
    color: khaki;
    text-align: center;
}
h2, h3, h4 {
    font-family: helvetica;
    font-size:32px;
    color: white;
   
}
h2{
    background-color: mediumspringgreen;
}
h3{
    background-color: lightcoral;
}
h4{
    background-color: skyblue;
}
.first{
    font-weight: bold;
}
a{
    font-family: helvetica;
    font-weight: bold;
    color: blue;
}